body {
  background-color: #262626;
  background-image: url("/assets/img/landing-page-background-pattern.png");
  background-size: 100rem;
  display: grid;
  place-items: center;
  height: 100vh;
  font-size: 16px;
  font-family: Poppins, sans-serif;
}

* {
  margin: 0;
  padding: 0;
}
